
@mainColor          : #009688;
@mainColorOpacity100: rgba(0, 150, 136, 1);
@mainColorOpacity95 : rgba(0, 150, 136, .95);
@mainColorOpacity30 : rgba(0, 150, 136, 0.1);
@mainColorOpacity16 : rgba(0, 150, 136, 0.16);

@colorSecondary     : #ff9800;
@colorThird         : #FF5252;

@gray0              : #fafafa;
@gray01             : #f5f5f5;
@gray1              : #e1e1e1;
@gray2              : #292929;
@gray3              : #b1b1b1;
@gray4              : #f1f1f1;
@ochre              : #c06014;
@white              : #ffffff;
@whiteOpacity30     : rgba(255, 255, 255, 0.3);
@whiteOpacity50     : rgba(255, 255, 255, 0.5);
@whiteOpacity97     : rgba(255, 255, 255, 0.97);
@black              : #000000;
@blackOpacity25     : rgba(0, 0, 0, 0.25);
@blackOpacity75     : rgba(0, 0, 0, 0.75);
@blackOpacity90     : rgba(0, 0, 0, 0.9);
@blackOpacity93     : rgba(0, 0, 0, 0.93);
@blackOpacity97     : rgba(0, 0, 0, 0.97);

@facebookColor      : #3b5998;
@facebookColorHover : #8b9dc3;
@googlePlusColor    : #d34836;

@errorColor         : #d34836;
@successColor       : #1f7e26;
@infoColor          : rgba(0, 150, 136, 0.16);
@warningColor       : #ff9800;


// MAIN SEARCH
@mainSearchBkg      : rgba(256, 256, 256, 0.8);


// ADS LIST

@adListImgBkg       : rgba(0, 0, 0, 0);
@adListImgBkgHover  : rgba(0, 0, 0, 0.5);
@adListIconBkg      : rgba(0, 0, 0, 0.5);


// FANCY SELECT DROPDOWN

@selectBkg                : #ffffff;
@selectBorder             : #b1b1b1;
@selectBkgHover           : #fbf6f3;
@selectMainColor          : #771100;
