
.big-gallery {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: @white;
  display: none;

  &.open {
    display: table;
  }

  .x-close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: @black;

    @media @tablet {
      right: 20px;
      left: auto;
    }
  }

  .big-gallery-wrapper {
    display: table-cell;
    vertical-align: middle;

    @media @tablet {
      padding-top: 70px;
      vertical-align: top;
    }

    @media @desktop {
      padding-top: 0;
      vertical-align: middle;
    }

    .listing-heading-gallery {
      padding: 0 0 10px 0;
      margin: 0 0 20px 0;
      border-bottom: 1px solid @gray2;
      display: none;

      @media @tablet {
        display: block;
      }

      h1 {
        font-family: @headingFont;
        font-size: 24px;
        line-height: 24px;
        color: @gray2;
        margin: 10px 0 5px 0;
      }

      h2 {
        font-family: @headingFont;
        font-size: 20px;
        line-height: 20px;
        color: @gray2;
      }

      .price {
        text-align: right;
        color: @gray2;
        padding: 10px 0 0 0;
      }

      .link {
        display: inline-block;
        color: @mainColor;
        font-size: 14px;
        margin-right: 30px;

        &:hover {
          color: @colorSecondary;
        }
      }

      .social-link {
        display: inline-block;
        width: 22px;
        height: 22px;
        font-size: 18px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        //border: 1px solid @mainColor;
        text-align: center;
        margin: 0 5px 0 0;

        &:hover {
          border-color: @colorSecondary;
        }
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;

      @media @tablet {
        padding-left: 15px;
        padding-right: 15px;
      }

      .row {
        margin-right: 0;
        margin-left: 0;

        @media @tablet {
          margin-right: -15px;
          margin-left: -15px;
        }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
          padding-left: 0;
          padding-right: 0;

          @media @tablet {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }

    .full-gallery-wrapper {
      position: relative;

      .full-gallery {
        margin: 0 0 0 0;

        @media @tablet {
          margin: 0 0 0 0;
        }

        .item {
          text-align: center;
          width: 100%;
          height: 275px;
          overflow: hidden;

          @media @tablet {
            height: 475px;
          }

          @media @desktop {
            height: 529px;
          }

          @media @desktop-lg {
            height: 675px;
          }

          @media @desktop-xl {
            height: 724px;
          }

          img {
            height: 100%;
            width: auto;
            margin: 0 auto;

            @media @tablet {

            }
          }
        }
      }

      .gallery-left-big, .gallery-right-big {
        position: absolute;
        top: 0;
        width: 60px;
        height: 100%;
        z-index: 1;
        display: none;
        //background-color: @whiteOpacity30;

        @media @desktop {
          display: block;
        }

        svg {
          position: absolute;
          top: 50%;
          left: 15px;
          margin-top: -30px;

          polyline {
            stroke: @black;
          }
        }
      }
      .gallery-left-big {
        left: -60px;
      }
      .gallery-right-big {
        right: -60px;
      }

    }
  }
}