/* Border colors box */
.skin-red .box.box-primary,
.skin-red-light .box.box-primary {
    border-top-color: #dd4b39;
}

.skin-blue .box.box-primary,
.skin-blue-light .box.box-primary {
    border-top-color: #3c8dbc;
}

.skin-purple .box.box-primary,
.skin-purple-light .box.box-primary {
    border-top-color: #605ca8;
}

.skin-green .box.box-primary,
.skin-green-light .box.box-primary {
    border-top-color: #00a65a;
}

.skin-yellow .box.box-primary,
.skin-yellow-light .box.box-primary {
    border-top-color: #f39c12;
}

.skin-black .box.box-primary,
.skin-black-light .box.box-primary {
    border-top-color: #000;
}

/* Border for panel */
.skin-red .panel.panel-primary,
.skin-red-light .panel.panel-primary {
    border-color: #dd4b39;
}

.skin-blue .panel.panel-primary,
.skin-blue-light .panel.panel-primary {
    border-color: #3c8dbc;
}

.skin-purple .panel.panel-primary,
.skin-purple-light .panel.panel-primary {
    border-color: #605ca8;
}

.skin-green .panel.panel-primary,
.skin-green-light .panel.panel-primary {
    border-color: #00a65a;
}

.skin-yellow .panel.panel-primary,
.skin-yellow-light .panel.panel-primary {
    border-color: #f39c12;
}

/* Background color for panel */
.skin-red .panel-primary > .panel-heading,
.skin-red-light .panel-primary > .panel-heading {
    border-color: #dd4b39;
    background-color: #dd4b39;
}

.skin-blue .panel-primary > .panel-heading,
.skin-blue-light .panel-primary > .panel-heading {
    border-color: #3c8dbc;
    background-color: #3c8dbc;
}

.skin-purple .panel-primary > .panel-heading,
.skin-purple-light .panel-primary > .panel-heading {
    border-color: #605ca8;
    background-color: #605ca8;
}

.skin-green .panel-primary > .panel-heading,
.skin-green-light .panel-primary > .panel-heading {
    border-color: #00a65a;
    background-color: #00a65a;
}

.skin-yellow .panel-primary > .panel-heading,
.skin-yellow-light .panel-primary > .panel-heading {
    border-color: #f39c12;
    background-color: #f39c12;
}

.grid-view .summary {
    margin: 0 0 5px 0;
    text-align: right;
}
.grid-view table tbody td.table-actions .glyphicon{
    margin: 0 5px;
}

.custom-upload-avatar-title{
    position: relative;
    bottom: -20px;
    left: -5px;
}

.content.categories-update .switch-label, .content.categories-create .switch-label{
    vertical-align: middle;
}

.fa-icons a {
    display: table;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.fa-icons a .fa {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
}

.skin-red .fa-icons a:hover, .skin-red-light .fa-icons a:hover, .skin-red-light .fa-icons a.active, .skin-red .fa-icons a.active{
    color: #ffffff;
    background-color: #dd4b39;
}

.skin-blue .fa-icons a:hover, .skin-blue-light .fa-icons a:hover, .skin-blue-light .fa-icons a.active, .skin-blue .fa-icons a.active{
    color: #ffffff;
    background-color: #3c8dbc;
}

.skin-purple .fa-icons a:hover, .skin-purple-light .fa-icons a:hover, .skin-purple-light .fa-icons a.active, .skin-purple .fa-icons a.active{
    color: #ffffff;
    background-color: #605ca8;
}

.skin-green .fa-icons a:hover, .skin-green-light .fa-icons a:hover, .skin-green-light .fa-icons a.active, .skin-green .fa-icons a.active{
    color: #ffffff;
    background-color: #00a65a;
}

.skin-yellow .fa-icons a:hover, .skin-yellow-light .fa-icons a:hover, .skin-yellow-light .fa-icons a.active, .skin-yellow .fa-icons a.active{
    color: #ffffff;
    background-color: #f39c12;
}

.fa-icons a:hover .fa.fa-2x {
    font-size: 2.1em;
}

/*FileInput plugin overwrite*/
.image-upload-wrapper .file-input .file-preview{
    border:none;
}

.form-group .help-block{
    color: #dd4b39;
}



/* TABLES */

table.table th a {
    white-space: nowrap;
}

a.asc:after{
    content: "\f15d";
    font-family: FontAwesome;
    padding-left: 4px;
}
a.desc:after{
    content: "\f15e";
    font-family: FontAwesome;
    padding-left: 4px;
}

/* info Box widget */
.skin-red .widget-custom-info-box,
.skin-red-light .widget-custom-info-box {
    background-color: #dd4b39;
    color: #fff;
}

.skin-blue .widget-custom-info-box,
.skin-blue-light .widget-custom-info-box {
    background-color: #3c8dbc;
    color: #fff;
}

.skin-purple .widget-custom-info-box,
.skin-purple-light .widget-custom-info-box {
    background-color: #605ca8;
    color: #fff;
}

.skin-green .widget-custom-info-box,
.skin-green-light .widget-custom-info-box {
    background-color: #00a65a;
    color: #fff;
}

.skin-yellow .widget-custom-info-box,
.skin-yellow-light .widget-custom-info-box {
    background-color: #f39c12;
    color: #fff;
}

.skin-black .widget-custom-info-box,
.skin-black-light .widget-custom-info-box {
    background-color: #fff;
    color: #000;
}

/* Dashboard */
.latest-listings{
    height: 455px;
}
.latest-listings .users-list>li img{
    border-radius: 0;
}
.latest-listings .box-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.widget-table-box {
    height: 480px;
    position: relative;
    overflow: hidden;
}
.widget-table-box .box-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* breadcrumbs */
.content-header>.breadcrumb{
    right: inherit;
}


/* ********* */

.alert {
    position: relative;
    padding: 15px 25px;
    margin-bottom: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.alert.alert-success {
    color: #ffffff;
    background-color: rgba(31, 126, 38, 0.75);
    border-color: transparent;
}
.alert.alert-danger {
    color: #ffffff;
    background-color: rgba(211, 72, 54, 0.75);
    border-color: transparent;
}
.alert.alert-info {
    color: #009688;
    background-color: rgba(0, 150, 136, 0.16);
    border-color: transparent;
}
.alert.alert-warning {
    color: #ffffff;
    background-color: rgba(255, 152, 0, 0.75);
    border-color: transparent;
}
.alert .close {
    position: absolute;
    top: 50%;
    right: 15px;
    float: none;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    min-height: 36px;
    margin-top: -18px;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 0 rgba(150, 150, 150, 0);
    opacity: 1;
    filter: alpha(opacity=80);
    outline: none!important;
}
/* *** */
.alert {
    text-align: center;
}
.alert ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.alert ul li {
    padding: 0 0 0 0;
}
.alert ul li + li {
    padding: 5px 0 0 0;
}